.App {
  text-align: center;
  background-color: moccasin;
}

.App-logo {
  height: 50vmin;
  animation: App-logo-spin infinite 20s linear;
}


.App-header {
  background-color: #fbfdff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(202, 130, 57);
}

.App-link {
  color: #9fbfc5;
}
